@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Inter:wght@500;600;800;900&family=Lato:ital@0;1&family=Nunito:wght@500&family=Open+Sans:wght@400;500;600&family=Oswald:wght@500&family=PT+Sans&family=Poppins&family=Roboto:ital,wght@0,300;0,400;1,300&family=Saira+Extra+Condensed:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Inter:wght@500;600;800;900&family=Lato:ital@0;1&family=Nunito+Sans:opsz,wght@6..12,200&family=Nunito:wght@500&family=Open+Sans:wght@400;500;600&family=Oswald:wght@500&family=PT+Sans&family=Poppins&family=Roboto:ital,wght@0,300;0,400;1,300&family=Saira+Extra+Condensed:wght@300;400&display=swap');
.body {
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Saira Extra Condensed', sans-serif;
   
    
}

.image img {
    width: 100%;
    top: 0px;
    left:0px;
    position: absolute;
    
}


.text {
    font-size: 30px;
    position: absolute;
    text-align: center;
    color: aliceblue;
    margin-left: 720px;
    margin-top: 200px;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Saira Extra Condensed', sans-serif;
   
}

.place {
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Saira Extra Condensed', sans-serif;
    position: absolute;
    font-size: 20px;
    text-align: center;
    color: aliceblue;
    margin-top: 300px;
    margin-left: 530px;

}

.game {
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Saira Extra Condensed', sans-serif;
    position: absolute;
    font-size: 20px;
    text-align: center;
    color: aliceblue;
    margin-left: 530px;
    margin-top: 335px;

}


.friend {
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Saira Extra Condensed', sans-serif;
    position: absolute;
    font-size: 20px;
    text-align: center;
    color: aliceblue;
    margin-left: 530px;
    margin-top: 370px;
}

.simple {
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Saira Extra Condensed', sans-serif;
    position: absolute;
    font-size: 20px;
    text-align: center;
    color: aliceblue;
    margin-left: 890px;
    margin-top: 405px;
}

.button input {
    position: absolute;
    background-color: aliceblue;
    width: 300px;
    height: 60px;
    border-radius: 20px;
    margin-top: 500px;
    border: gray;
    margin-left: 31%;
    transition: 1s;
    
}

.button input:hover {
    color: rgb(87, 87, 255);
    box-shadow: 3px 3px 3px rgb(190, 190, 190);
}

.sub input {
    position: absolute;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    width: 300px;
    height: 60px;
    border-radius: 20px;
    border: gray;
    margin-top: 500px;
    margin-left: 51%;
    transition: 1s;

}

.sub input:hover {
    box-shadow: 3px 3px 3px rgb(190, 190, 190);
    opacity: 0.8;

}

.joke img {
    position: absolute;
    margin-top: 900px;
    margin-left: 18%;
}


.exit {
    position: absolute;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 30px;
    margin-top: 850px;
    margin-left: 55%;
    
}

.bruh {
    position: absolute;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 30px;
    margin-top: 905px;
    margin-left: 55%;
}

.celebrate {
    position: absolute;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 30px;
    margin-top: 960px;
    margin-left: 55%;
}

.why {
    position: absolute;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 30px;
    margin-top: 1015px;
    margin-left: 55%;

}

.am {
    position: absolute;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 40px;
    margin-top: 1110px;
    margin-left: 55%;

}


.i {
    position: absolute;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 30px;
    margin-top: 1120px;
    margin-left: 55%;

}


.doing {
    position: absolute;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 20px;
    margin-top: 1210px;
    margin-left: 55%;
    color: rgb(179, 179, 179);
}

.aaaa {
    
        position: absolute;
        font-family: 'Hedvig Letters Sans', sans-serif;
        font-family: 'Inter', sans-serif;
        font-family: 'Lato', sans-serif;
        font-family: 'Nunito', sans-serif;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Oswald', sans-serif;
        font-family: 'Poppins', sans-serif;
        font-family: 'PT Sans', sans-serif;
        font-family: 'Roboto', sans-serif;
        font-family: 'Saira Extra Condensed', sans-serif;
        font-size: 20px;
        margin-top: 1245px;
        margin-left: 55%;
        color: rgb(179, 179, 179);
}


.grow {
    position: absolute;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 20px;
    margin-top: 1280px;
    margin-left: 55%;
    color: rgb(179, 179, 179);
}

.up {
    position: absolute;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 20px;
    margin-top: 1315px;
    margin-left: 55%;
    color: rgb(179, 179, 179);
}


.farm {
    position: absolute;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 30px;
    margin-top: 1525px;
    
    margin-left: 25%;

}


.nun {
    position: absolute;
    margin-left: 45%;
    margin-top: 1500px;
    
}

.tyk {
    position: absolute;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 30px;
    margin-left: 25%;
    margin-top: 1580px;
    

}


.family {
    position: absolute;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 20px;
    margin-left: 25%;
    margin-top: 1670px;
    color: rgb(179, 179, 179);
}


.number {
    position: absolute;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 20px;
    margin-left: 25%;
    margin-top: 1705px;
    color: rgb(179, 179, 179);
}


.huge {
    position: absolute;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 20px;
    margin-left: 25%;
    margin-top: 1740px;
    color: rgb(179, 179, 179);
}

.berry {
    position: absolute;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 20px;
    margin-left: 25%;
    margin-top: 1775px;
    color: rgb(179, 179, 179);
}


.poppy {
    position: absolute;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 30px;
    margin-top: 2000px;
    margin-left: 55%;
}


.play {
    position: absolute;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 40px;
    margin-top: 2045px;
    margin-left: 55%;
}

.class {
    position: absolute;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 20px;
    margin-top: 2140px;
    margin-left: 55%;
    color: rgb(179, 179, 179);
}


.figma {
    position: absolute;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 20px;
    margin-top: 2175px;
    margin-left: 55%;
    color: rgb(179, 179, 179);
}


.den {
    position: absolute;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 20px;
    margin-top: 2210px;
    margin-left: 55%;
    color: rgb(179, 179, 179);
}


.bastard {
    position: absolute;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 20px;
    margin-top: 2245px;
    margin-left: 55%;
    color: rgb(179, 179, 179);
}

.funny {
    position: absolute;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 20px;
    margin-top: 2280px;
    margin-left: 55%;
    color: rgb(179, 179, 179);
}


.apple {
    position: absolute;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 20px;
    margin-top: 2315px;
    margin-left: 55%;
    color: rgb(179, 179, 179);
}


.tykik {
    position: absolute;
    margin-top: 1990px;
    margin-left: 14%;
}


.center  {
    font-size: 25px;
    position: absolute;
    text-align: center;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Saira Extra Condensed', sans-serif;
    margin-left: 27%;
    margin-top: 2550px;
}


.rars {
    font-size: 25px;
    position: absolute;
    text-align: center;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Saira Extra Condensed', sans-serif;
    margin-left: 44%;
    margin-top: 2600px;
}


.faf {
    font-size: 20px;
    position: absolute;
    text-align: center;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Saira Extra Condensed', sans-serif;
    margin-left: 23%;
    margin-top: 2675px;
    color: rgb(179, 179, 179);
}


.dead {
    font-size: 20px;
    position: absolute;
    text-align: center;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Saira Extra Condensed', sans-serif;
    margin-left: 23%;
    margin-top: 2710px;
    color: rgb(179, 179, 179);
}


.die {
    font-size: 20px;
    position: absolute;
    text-align: center;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Saira Extra Condensed', sans-serif;
    margin-left: 40%;
    margin-top: 2745px;
    color: rgb(179, 179, 179);
}


.live img {
    position: absolute;
    margin-top: 2770px;
    width: 1350px;
    margin-left: 15%;
}

.xyx {
    position: absolute;
    margin-top: 3650px; 
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Saira Extra Condensed', sans-serif;
    text-align: center;
    margin-left: 36%;
    font-size: 20px;
   
}


.owo input {
    position: absolute;
    width: 275px;
    height: 55px;
    background: rgb(112, 112, 236);
    border: none;
   color: aliceblue;
   border-radius: 40px;
   font-size: 18px;
   margin-top: 3760px;
   margin-left: 42%;
  
 
}


.if img {
    position: absolute;
    width: 150px;
    margin-left: 350px;
    margin-top: -20px;
}

.subm input {

    position: absolute;
    background: transparent;
    border: none;
    color: aliceblue;
    font-size: 15px;
    margin-top: 15px;
    margin-left: 675px;
    
    
    

}

.subm input:hover {
    text-decoration: underline;
    
}


.val input {
    position: absolute;
    background: transparent;
    border: none;
    color: aliceblue;
    font-size: 15px;
    margin-top: 15px;
    margin-left: 800px;
}

.val input:hover {
    text-decoration: underline;
}


.juj img {
    position: absolute;
    width: 200px;
    margin-left:  89%;
    margin-top: 2550px;
}


.dfg video {
    position: absolute;
    width: 400px;
    height: 750px;
}


.fyf img {
    position: absolute;
    width: 200px;
    margin-top: 2500px;
    margin-left: 14%;

}



.sis input {
    position: absolute;
    background: transparent;
    border: none;
    color: aliceblue;
    font-size: 15px;
    margin-top: 15px;
    margin-left: 900px;
}


.sis input:hover {
    text-decoration: underline;
}


.jij input {
    position: absolute;
    background: transparent;
    border: none;
    color: aliceblue;
    font-size: 15px;
    margin-top: 15px;
    margin-left: 1000px;
}


.jij input:hover {
    text-decoration: underline;
}

.drd input {
    position: absolute;
    background: transparent;
    border: none;
    color: aliceblue;
    font-size: 15px;
    margin-top: 15px;
    margin-left: 1100px;
}

.drd input:hover {
    text-decoration: underline;
}


.viv input {
    position: absolute;
    background: transparent;
    border: none;
    color: aliceblue;
    font-size: 15px;
    margin-top: 15px;
    margin-left: 1200px;
}

.viv input:hover {
    text-decoration: underline;
}

.ere input {
    position: absolute;
    background: transparent;
    border: none;
    color: aliceblue;
    font-size: 15px;
    margin-top: 15px;
    margin-left: 1300px;
}

.ere input:hover {
    text-decoration: underline;
}

.log input {
    position: absolute;
    border: none;
    width: 65px;
    height: 35px;
    border-radius: 40px;
    margin-left: 1550px;
    margin-top: 10px;
    transition: 1s;
}

.log input:hover {
    color: rgb(82, 82, 255);
    box-shadow: 2px 2px 2px black;
}






.footer {
    position: absolute;
    background-color: rgb(44, 44, 44);
    width: 100%;
    height: 600px;
    top: 0px;
    left:0px;
    margin-top: 4000px;
}